.app {
  background-color: #282c34;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.tooltip {
  position: absolute;
  color: #61dafb;
  visibility: hidden;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.tooltip span {
  width: min-content;
  white-space: pre;
  text-align: center;
}

.tooltip.show {
  visibility: visible;
}

.container:hover .cell {
  /*margin: 4px;*/
}

.container:hover .tooltip {
  /*visibility: visible;*/
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  margin: 1px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.cell.invalid {
  background-color: rgb(220, 38, 38);
}

.input-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.input {
  outline: none;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 32px;
  color: #61dafb;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
}

.input:focus {
  background-color: #282c34;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.buttons {
  margin-top: 48px;
  display: flex;
}

.reset-button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: none;
  color: #61dafb;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.reset-button:hover {
  opacity: 0.8;
}

.help-button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #61dafb;
  color: #61dafb;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 16px;
}

.solve-button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #61dafb;
  border-radius: 4px;
  border: none;
  color: #282c34;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 16px;
}

.solve-button:hover {
  opacity: 0.8;
}
