.app {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.tooltip {
  position: absolute;
  color: #61dafb;
  visibility: hidden;
  font-size: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.tooltip span {
  width: min-content;
  white-space: pre;
  text-align: center;
}

.tooltip.show {
  visibility: visible;
}

.container:hover .cell {
  /*margin: 4px;*/
}

.container:hover .tooltip {
  /*visibility: visible;*/
}

.row {
  display: flex;
  flex-direction: row;
}

.solving {
  opacity: 0.5;
}

.cell {
  margin: 1px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mr-4 {
  margin-right: 4px;
}

.cell.invalid {
  background-color: rgb(220, 38, 38);
}

.input-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.input {
  outline: none;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  color: #61dafb;
  font-weight: bold;
  font-size: 22px;
  background-color: transparent;
  border-radius: 4px;
}

.input.same-as-selected {
  background-color: rgba(40, 44, 52, 0.4);
}

.input:focus {
  background-color: rgba(40, 44, 52, 0.7);
  caret-color: transparent;
}

.input::selection {
  background-color: transparent;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.buttons {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons button {
  margin-top: 16px;
}

.reset-button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: none;
  color: #61dafb;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 16px;
}

.reset-button:hover {
  opacity: 0.8;
}

.help-button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #61dafb;
  color: #61dafb;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 16px;
}

.solve-button, .new-button {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: #61dafb;
  border-radius: 4px;
  border: none;
  color: #282c34;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 16px;
}

.solve-button:hover {
  opacity: 0.8;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  margin: 0;
  width: 50px;
  height: 50px;
}

.spinner .path {
  stroke: #61dafb;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

.blogs-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media (max-width: 600px) {
  .cell {
    width: 32px;
    height: 32px; 
  }

  .input {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 20px;
  }
}
